
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link type="text/css" rel="stylesheet" href="/assets/style.css"></link>
  <script type=text/javascript src="assets/jquery-3.3.1.min.js"></script>
  <script type=text/javascript src="assets/todo-list.js"></script>
</head>
<body>
  <div class="container">
  <h1>Todo app</h1>
  <form>
    <input type="text" name="item" placeholder="add new item here" required>
    <button type="submit">add item</button>
  </form>

  <ul>
    <% for(var i=0; i< todos.length;i++){%>
<li><%= todos[i].item%></li>
    <%}%>
  </ul>


  </div>

</body>
</html>
